@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
  --animate-rotate-once: rotate 0.6s ease-in-out;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  logs: false;
}